{:dependencies
 [[org.clojure/clojure "1.10.0"]
  [org.clojure/clojurescript "1.10.520"]
  [reagent "0.8.1"]
  [re-frame "0.11.0-rc4"]
  [cider/cider-nrepl "0.18.0"]
  [re-pressed "0.3.1"]]

 :source-paths ["src"]

 :nrepl {:port 2988}

 :builds {
          :app
          {:target          :browser
           :modules         {:main {:entries [games.core]}}
           :output-dir      "public/js/compiled"
           :asset-path      "/js/compiled"
           :closure-defines {games.core/GAME "all"}
           :devtools        {:http-root   "public"
                             :http-port   2989
                             :loader-mode :eval
                             :after-load  games.core/mount-root}}

          :tetris {:target          :browser
                   :modules         {:main {:entries [games.core]}}
                   :output-dir      "public/tetris/js/compiled"
                   :asset-path      "/js/compiled"
                   :closure-defines {games.core/GAME "tetris"}
                   :devtools        {:http-root   "public"
                                     :http-port   2989
                                     :loader-mode :eval
                                     :after-load  games.core/mount-root}}

          :puyo {:target          :browser
                 :modules         {:main {:entries [games.core]}}
                 :output-dir      "public/puyo/js/compiled"
                 :asset-path      "/js/compiled"
                 :closure-defines {games.core/GAME puyo}
                 :devtools        {:http-root   "public"
                                   :http-port   2989
                                   :loader-mode :eval
                                   :after-load  games.core/mount-root}}
          }}
