{:deps {:aliases [:nrepl :cljs]}

 :source-paths ["src"]

 :nrepl {:port 2988
         :middleware
         [cider-nrepl.plugin/middleware
          refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:app {:target          :browser
        :modules         {:main {:entries [games.core]}}
        :output-dir      "public/js/compiled"
        :asset-path      "/js/compiled"
        :closure-defines {}
        :devtools
        {:http-root   "public"
         :http-port   2989
         :loader-mode :eval
         :after-load  games.core/mount-root
         :preloads    [devtools.preload]}}}}
