;; tests.edn
#kaocha/v1
{:tests [{:id            :unit-cljs
          :type          :kaocha.type/cljs
          :test-paths    ["test"]
          :cljs/timeout  10000
          :cljs/repl-env cljs.repl.node/repl-env
          }]

 :plugins [
           ;; circular dep, apparently...
           ;; :kaocha.plugin/cloverage
           :kaocha.plugin/notifier
           ]

 :cloverage/opts
 {:ns-exclude-regex [],
  :text?            false,
  :lcov?            false,
  :high-watermark   80,
  :fail-threshold   0,
  :output           "target/coverage",
  :low-watermark    50,
  :ns-regex         [],
  :summary?         true,
  :coveralls?       false,
  :emma-xml?        false,
  :html?            true,
  :nop?             false,
  :codecov?         false}
 }
