;; tests.edn
#kaocha/v1
{:tests [{:id            :unit-cljs
          :type          :kaocha.type/cljs
          :test-paths    ["test"]
          ;; :cljs/timeout 10000                        ; 10 seconds, the default
          :cljs/repl-env cljs.repl.node/repl-env ; node is the default
          ;; :cljs/repl-env cljs.repl.browser/repl-env
          }]}
